<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
    <div id="my" layout:fragment="main">
        <nav>
            <div>
                <a href="#">
                    <img th:src="@{/img/my_logo.jpg}" alt="나의쇼핑정보">
                </a>
                <ol>
                    <li>
                        <a href="#">
                            주문·배송
                            <span th:text="${#numbers.formatInteger(orderProducts.size(), 1, 'COMMA')}" class="delivery">주문, 배송 개수</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            할인쿠폰
                            <span class="coupon">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            포인트
                            <span th:text="${#numbers.formatInteger(member.point, 1, 'COMMA')}" class="point">나의 포인트</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            문의내역
                            <span class="qna">0</span>
                        </a>
                    </li>
                </ol>
            </div>
        </nav>
        <div class="home">
            <ul>
                <span class="menu_else"></span>
                <li><a href="#">전체주문내역</a></li>
                <li><a href="#">포인트내역</a></li>
                <li><a href="#">쿠폰</a></li>
                <li><a href="#">나의리뷰</a></li>
                <li><a href="#">문의하기</a></li>
                <li><a href="#">나의설정</a></li>
            </ul>
            <section>
                <a href="#">
                    <img th:src="@{/img/my_banner1.jpg}" alt="banner">
                </a>
                <article class="latest">
                    <h3>최근주문내역</h3>
                    <a href="#" class="more">더보기</a>
                    <table border="0">
                        <tr>
                            <th>날짜</th>
                            <th>상품정보</th>
                            <th>상태</th>
                            <th>확인/신청</th>
                        </tr>
                        <tr th:if="${orderProducts.isEmpty()}">
                            <td colspan="11">최근 주문 내역이 없습니다.</td>
                        </tr>
                        <tr th:if="${!orderProducts.isEmpty()}" th:each="orderProduct : ${orderProducts}">
                            <td class="date" th:text="${#strings.substring(orderProduct.orderDate, 0, 10)}">주문 날짜</td>
                            <td>
                                <a th:href="@{/product/view(id=${orderProduct.productId})}" class="thumb">
                                    <img th:src="@{/product/images/{filename}/{cate1}/{cate2}(filename=${orderProduct.thumbnailList}, cate1=${orderProduct.category1Code}, cate2=${orderProduct.category2Code})}" alt="">
                                </a>
                                <ul>
                                    <li class="prodName">
                                        <a th:href="@{/product/view(id=${orderProduct.productId})}" th:text="${orderProduct.productName}">상품명</a>
                                    </li>
                                    <li>
                                        수량:
                                        <span th:text="${orderProduct.quantity}" class="prodCount">수량</span>
                                        개 / 주문번호 :
                                        <span th:text="${orderProduct.orderNumber}" class="ordNo">주문번호</span>
                                    </li>
                                    <li th:text="${#numbers.formatInteger(orderProduct.discountedPrice, 1, 'COMMA') + '원'}" class="prodPrice">할인된 가격</li>
                                </ul>
                            </td>
                            <td th:text="${orderProduct.orderState}" class="status">배송완료</td>
                            <td class="confirm">
                                <a href="#" class="receive">수취확인</a>
                                <a href="#" class="reviewWrite"  th:attr="productId=${orderProduct.productId}, productName=${orderProduct.productName}">상품평쓰기</a>
                                <a href="#" class="refund">반품신청</a>
                                <a href="#" class="exchange">교환신청</a>
                            </td>
                        </tr>
                    </table>
                </article>

                <!-- 모달창 -->
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeReviewModal()" id="closeModal">&times;</span>
                        <h2>상품평 작성</h2>
                        상품명 : <span id="productNameModal"></span>
                        <textarea id="reviewText" placeholder="상품평을 작성해주세요"></textarea>
                        <button onclick="submitReview()" id="applyButton">적용</button>
                    </div>
                </div>

                <article class="point">
                    <h3>포인트적립내역</h3>
                    <a href="#" class="more">더보기</a>
                    <table border="0">
                        <table border="0">
                            <tr>
                                <th>날짜</th>
                                <th>구분</th>
                                <th>주문번호</th>
                                <th>적립금액</th>
                                <th>비고</th>
                            </tr>
                            <tr th:if="${points.isEmpty()}">
                                <td colspan="11">포인트 적립 내역이 없습니다.</td>
                            </tr>
                            <tr th:if="${!points.isEmpty()}" th:each="point : ${points}">
                                <td th:text="${#strings.substring(point.earnedPointDate, 0, 10)}">적립 날짜</td>
                                <td>적립</td>
                                <td th:text="${point.orderNumber}">주문번호</td>
                                <td th:text="${#numbers.formatInteger(point.earnedPoint, 1, 'COMMA')}">340</td>
                                <td>상품 구매확정</td>
                            </tr>
                        </table>
                    </table>
                </article>
                <article class="review">
                    <h3>상품평</h3>
                    <a href="#" class="more">더보기</a>
                    <table border="0">
                        <tr>
                            <th>상품번호</th>
                            <th>내용</th>
                            <th>평점</th>
                            <th>작성일</th>
                        </tr>
                        <tr th:if="${reviews.isEmpty()}">
                            <td colspan="11">상품평이 없습니다.</td>
                        </tr>
                        <tr th:if="${!reviews.isEmpty()}" th:each="review : ${reviews}">
                            <td th:text="${review.productId}">상품번호</td>
                            <td th:text="${review.content}" class="reviewContent">배송이 빠릅니다. 잘 사용하겠습니다.</td>
                            <td><span class="rating star5">평점</span></td>
                            <td th:text="${#strings.substring(review.registrationDate, 0, 10)}">2022-12-10</td>
                        </tr>
                    </table>
                </article>
                <article class="myinfo">
                    <h3>확인해주세요!</h3>

                    <div>
                        <div class="address">
                            <span>기본 배송지설정</span>
                            <a th:href="@{/my/info}" class="setting">변경</a>
                            <p>
                                <span th:if="${member.address != null}" th:text="${member.address}">주소</span>
                                <span th:if="${member.address == null}">주소 등록 되어있지 않음.</span>
                            </p>
                        </div>
                        <div class="email">
                            <span>email 설정</span>
                            <a th:href="@{/my/info}" class="setting">변경</a>
                            <p>
                                <span th:if="${member.email != null}" th:text="${member.email}">이메일</span>
                                <span th:if="${member.email == null}">이메일 등록 되어있지 않음.</span>
                            </p>
                        </div>
                        <div class="hp">
                            <span>휴대폰 설정</span>
                            <a th:href="@{/my/info}" class="setting">변경</a>
                            <p>
                                <span th:if="${member.phoneNumber != null}" th:text="${member.phoneNumber}">휴대폰 번호</span>
                                <span th:if="${member.phoneNumber == null}">휴대폰 번호 등록 되어있지 않음.</span>
                            </p>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/js/myModal.js}"></script>
    </th:block>
</html>