<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/member_layout}">
<main id="member" layout:fragment="main">
        <section class="find findPwChange">
            <form name="form" th:object="${members}" method="post">
                <table border="0">
                    <caption>비밀번호 변경</caption>
                    <tr>
                        <td>아이디</td>
                        <td id="uid" th:text="*{loginId}">아이디</td>
                        <input type="hidden" name="uid" th:field="*{loginId}">
                    </tr>
                    <tr>
                        <td>새 비밀번호</td>
                        <td>
                            <input type="password" th:field="*{password}" placeholder="새 비밀번호 입력"/>
                            <span class="passwordResult"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>새 비밀번호 확인</td>
                        <td>
                            <input type="password" name="confirmPass" id="confirmPass" placeholder="새 비밀번호 입력"/>
                            <span class="confirmPassResult"></span>
                        </td>
                    </tr>
                </table>
            <p>
                비밀번호를 변경해 주세요.<br>
                영문, 숫자, 특수문자를 사용하여 5자 이상 입력해 주세요.
            </p>
            <div>
                <a th:href='@{/members/login}' class="btn btnCancel">취소</a>
                <button id="submit" class="btn btnNext">다음</button>
            </div>
            </form>
        </section>
    </main>
<th:block layout:fragment="script">
    <script th:src="@{/js/findPwResult.js}"></script>
</th:block>
</html>