<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/member_layout}">
<main id="member" layout:fragment="main">
        <section class="find findIdResult">
            <form action="#">
                <table border="0">
                    <caption>아이디 찾기 결과</caption>
                    <tr>
                        <td>이름</td>
                        <td th:text="${members.name}">이름</td>
                    </tr>
                    <tr>
                        <td>아이디</td>
                        <td th:text="${members.loginId}">아이디</td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td th:text="${members.email}">이메일</td>
                    </tr>
                    <tr>
                        <td>가입일</td>
                        <td th:text="${#strings.substring(members.registrationDate,0,10)}">가입일</td>
                    </tr>
                </table>
            </form>

            <p>
                고객님의 정보와 일치하는 아이디 입니다.
            </p>

            <div>
                <a th:href="@{/members/login}" class="btn btnCancel">로그인</a>
                <a th:href="@{/members/findPw}" class="btn btnNext">비밀번호 찾기</a>
            </div>
        </section>
    </main>
</html>