<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
    <!-- 공통 부분이 아닌 css -->
    <link rel="stylesheet" th:href="@{/css/product.css}">
</head>
<th:block layout:fragment="main">
    <main id="product">
        <aside>
            <!-- 카테고리/베스트 상품 영역 -->
            <th:block th:replace="~{fragment/aside :: main_category}"></th:block>
        </aside>

        <!-- 상품 상세페이지 시작-->
        <section class="view">
            <!-- 제목, 페이지 네비게이션 -->
            <nav>
                <h1>상품보기</h1>
                <p>
                    HOME >
                    <span th:text="${category.category1Name}">카테고리 1</span>
                    >
                    <strong th:text="${category.category2Name}">카테고리 2</strong>
                </p>
            </nav>
            <!-- 상품 전체 정보 내용 -->
            <article class="info">
                <div class="image">
                    <img th:src="@{/product/images/{filename}/{cate1}/{cate2}(filename=${product.thumbnailList}, cate1=${product.category1Code}, cate2=${product.category2Code})}" alt="상품 이미지">
                </div>
                <div class="summary">
                    <nav>
                        <h1 th:text="${product.company}">(주)판매자명</h1>
                        <h2>
                            상품번호&nbsp;:&nbsp;
                            <span th:text="${product.id}">상품 번호</span>
                        </h2>
                    </nav>
                    <nav>
                        <h3 th:text="${product.productName}">상품명</h3>
                        <p th:text="${product.description}">상품설명 출력</p>
                        <h5 class="rating start4">
                            <a href="#" id="watchReview">상품평보기</a>
                        </h5>
                    </nav>
                    <nav>
                        <div th:if="${product.discountRate ne 0}" class="org_price">
                            <del th:text="${#numbers.formatInteger(product.price, 1, 'COMMA') + '원'}">상품 가격</del>
                            <span th:text="${product.discountRate + '%'}">할인률</span>
                        </div>
                        <div class="dis_price">
                            <ins th:text="${#numbers.formatInteger(product.discountedPrice, 1, 'COMMA') + '원'}">상품 할인된 가격</ins>
                        </div>
                    </nav>
                    <nav>
                        <span th:if="${product.deliveryCost eq 0}" class="delivery">무료배송</span>
                        <span th:if="${product.deliveryCost ne 0}" th:text="${'배송비 ' + #numbers.formatInteger(product.deliveryCost, 1, 'COMMA') + '원'}" class="delivery"></span>
                        <span class="arrival">모레(금) 7/8 도착예정</span> <!-- 처리 -->
                        <span class="desc">본 상품은 국내배송만 가능합니다.</span>
                    </nav>
                    <nav>
                        <span class="card cardfree">
                            <i>아이콘</i>
                            무이자할부
                        </span>
                        &nbsp;&nbsp;
                        <span class="card cardadd">
                            <i>아이콘</i>
                            카드추가혜택
                        </span>
                    </nav>
                    <nav>
                        <span class="origin" >원산지-[[${product.origin}]]</span>
                    </nav>
                    <img th:src="@{/img/vip_plcc_banner.png}" alt="100원만 결제해도 1만원 적립!" class="banner">
                    <div class="count">
                        <button class="decrease">-</button>
                        <input type="text" name="num" value="1">
                        <button class="increase">+</button>
                    </div>
                    <div class="total">
                        <span th:text="${#numbers.formatInteger(product.discountedPrice, 1, 'COMMA')}" class="totalPrice">총 상품 금액</span>
                        <em>총 상품금액</em>
                    </div>
                    <div class="button">
                        <input type="button" class="cart" id="cartBt" th:attr="productId=${product.id}" value="장바구니">
                        <input type="button" class="order" id="orderBt" th:attr="productId=${product.id}" value="구매하기">
                    </div>
                </div>
            </article>
            <!-- 상품 정보 내용 -->
            <article class="detail">
                <nav>
                    <h1>상품정보</h1>
                </nav>
                <!-- 상품상세페이지 이미지 -->
                <div id="productImageContainer">
                    <img id="productImage" th:src="@{/product/images/{filename}/{cate1}/{cate2}(filename=${product.detailCut}, cate1=${product.category1Code}, cate2=${product.category2Code})}"
                         alt="상세페이지1">
                </div>
                <!-- 상품 정보 더보기/접기 버튼 -->
                <button id="toggleButton" onclick="toggleProductInfo()">상품 정보 더보기</button>
            </article>
            <!-- 상품 정보 제공 고시 내용 -->
            <article class="notice">
                <nav>
                    <h1>상품 정보 제공 고시</h1>
                    <p>[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록된 정보입니다.</p>
                </nav>
                <table border="0">
                    <tbody>
                        <tr>
                            <td>상품번호</td>
                            <td th:text="${product.id}">10110125435</td>
                        </tr>
                        <tr>
                            <td>상품상태</td>
                            <td th:text="${product.status}">새상품</td>
                        </tr>
                        <tr>
                            <td>부가세 면세여부</td>
                            <td th:text="${product.duty}">과세상품</td>
                        </tr>
                        <tr>
                            <td>영수증발행</td>
                            <td th:text="${product.receipt}">발행가능 - 신용카드 전표, 온라인 현금영수증</td>
                        </tr>
                        <tr>
                            <td>사업자구분</td>
                            <td th:text="${product.businessType}">사업자 판매자</td>
                        </tr>
                        <tr>
                            <td>브랜드</td>
                            <td th:text="${product.company}">블루포스</td>
                        </tr>
                        <tr>
                            <td>원산지</td>
                            <td th:text="${product.origin}">국내생산</td>
                        </tr>
                    </tbody>
                </table>
                <table border="0">
                    <tbody>
                        <tr>
                            <td>제품소재</td>
                            <td>100% POLYESTER</td>
                        </tr>
                        <tr>
                            <td>색상</td>
                            <td>네이비</td>
                        </tr>
                        <tr>
                            <td>치수</td>
                            <td>S</td>
                        </tr>
                        <tr>
                            <td>제조자/수입자</td>
                            <td>(주) 아이보리 & (주) 엘비코리아</td>
                        </tr>
                        <tr>
                            <td>제조국</td>
                            <td>베트남 & 인도네시아</td>
                        </tr>
                        <tr>
                            <td>취급시 주의사항</td>
                            <td>단독세탁</td>
                        </tr>
                        <tr>
                            <td>제조연월</td>
                            <td>2020.10</td>
                        </tr>
                        <tr>
                            <td>품질보증기준</td>
                            <td>제품 이상 시 공정거래위원회 고시 소비자분쟁해결기준에 의거 보상합니다.</td>
                        </tr>
                        <tr>
                            <td>A/S 책임자와 전화번호</td>
                            <td>Kmarket고객센터 1577-1111</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의 특이사항이 있는 경우
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="notice">
                    소비자가 전자상거래등에서 소비자 보호에 관한 법률 제 17조 제1항 또는 제3항에 따라 청약철회를 하고 동법 제 18조 제1항에 따라 청약철회한 물품을 판매자에게 반환하였음에도 불구 하고 결제 대금의 환급이 3영업일을 넘게 지연된 경우, 소비자 는 전자상거래등에서 소비자보호에 관한 법률 제18조 제2항 및 동법 시행령 제21조 2에 따라 지연일수에 대하여 전상법 시행령으로 정하는 이율을 곱하여 산정한 지연이자(“지연배상금”)를 신청할 수 있습니다. 아울러, 교환∙반품∙보증 및 결제대금의 환급신청은 [나의쇼핑정보]에서 하실 수 있으며, 자세한 문의는 개별 판매자에게 연락하여 주시기 바랍니다.
                </p>
            </article>
            <!-- 상품 리뷰 내용 -->
            <article class="review" id="review-article">
                <nav><h1>상품리뷰</h1></nav>
                <ul>
                    <th:block th:if="${reviewPage.isEmpty()}">
                        <li class="noReview">
                            해당 상품의 리뷰가 없습니다.
                        </li>
                    </th:block>
                    <th:block th:if="${!reviewPage.isEmpty()}">
                        <li th:each="review : ${reviewPage.content}">
                            <div>
                                <h5 class="rating star4">상품 별점</h5>
                                <span>[[${#strings.substring(review.uid, 0, 4) + '****'}]] &ensp;&ensp; [[${#strings.substring(review.registrationDate, 0, 10)}]]</span>
                            </div>
                            <h3 th:text="${product.productName}">상품명</h3>
                            <p th:text="${review.content}">리뷰 내용</p>
                        </li>
                    </th:block>
                </ul>
                <!-- 상품목록 페이지번호 -->
                <div class="paging" th:if="${!reviewPage.isEmpty()}">
                    <th:block th:with="pageNumber = ${reviewPage.pageable.pageNumber},
                                   pageSize = ${reviewPage.pageable.pageSize},
                                   totalPages = ${reviewPage.totalPages},
                                   startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                                   tempEndPage = ${startPage + pageSize - 1},
                                   endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})">

                        <!-- 처음으로 이동 -->
                        <a th:href="@{/product/view(id=${param.id}, page=0)}" class="first"
                           th:classappend="${pageNumber < pageSize} ? 'disabled'"></a>
                        <!-- 이전으로 이동 -->
                        <a th:href="${reviewPage.first} ? '#' : @{/product/view(id=${param.id}, page=${pageNumber - 1})}" class="before"
                           th:classappend="${reviewPage.first} ? 'disabled'"></a>

                        <!-- 특정 페이지로 이동 -->
                        <th:block>
                            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                                <a th:text="${page}" th:href="@{/product/view(id=${param.id}, page=${page - 1})}"
                                   th:class="${page == pageNumber + 1} ? 'pageNum on' : 'pageNum'"></a>
                            </th:block>
                        </th:block>

                        <!-- 다음으로 이동 -->
                        <a th:href="${reviewPage.last} ? '#' : @{/product/view(id=${param.id}, page=${pageNumber + 1})}" class="next"
                           th:classappend="${reviewPage.last} ? 'disabled'"></a>
                        <!-- 마지막으로 이동 -->
                        <a th:href="@{/product/view(id=${param.id}, page=${totalPages - 1})}" class="last"
                           th:classappend="${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'"></a>
                    </th:block>
                </div>
            </article>
        </section>
        <!-- 상품 상세페이지 끝 -->
    </main>
    <button type="button" id="top">상단이동</button>
    <th:block layout:fragment="script">
        <script th:src="@{/js/productView.js}"></script>
    </th:block>
</th:block>
</html>