<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<img style="display: block; margin-left: auto; margin-right: auto;" th:src="@{/img/header_logo.png}" alt="로고" />
<p style="text-align: center;">&nbsp;</p>
<h1 style="text-align: center;"><strong>BAD REQUEST</strong></h1>
<p style="text-align: center;">잘못된 요청입니다.</p>
<p style="text-align: center;">확인 후 이용해주세요.</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a th:href="@{/}">K마켓 홈 바로가기</a></p>
</div> <!-- /container -->
</body>
</html>