<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- head 공통 -->
    <th:block th:replace="~{fragment/config :: head_common}"></th:block>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div id="wrapper">
        <header th:replace="~{fragment/header :: main_header}"></header>
        <main layout:fragment="main"></main>
    </div>
    <footer th:replace="~{fragment/footer :: main_footer}"></footer>
    <th:block layout:fragment="script">
        <script th:src="@{/js/scrollTop.js}"></script>
    </th:block>
</body>
</html>