<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
    <script th:src="@{/js/indexSlide.js}"></script>
    <!--메인페이지 슬라이더-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>
<th:block layout:fragment="main">
    <main>
        <aside>
            <!-- 카테고리/베스트 상품 영역 -->
            <th:block th:replace="~{fragment/aside :: main_category}"></th:block>

            <!-- 베스트상품 배너 -->
            <article class="best" style="position: static; top: 0px;">
                <h1>
                    <i class="fas fa-crown" aria-hidden="true"></i>
                    베스트상품
                </h1>
                <ol>
                    <li th:each="bestProd : ${bestProds}">
                        <a th:href="@{/product/view(id=${bestProd.id})}">
                            <div class="thumb">
                                <i>1</i>
                                <img th:src="@{/product/images/{filename}/{cate1}/{cate2}(filename=${bestProd.thumbnailList}, cate1=${bestProd.category1Code}, cate2=${bestProd.category2Code})}" alt="item1">
                            </div>
                            <h2 th:text="${bestProd.productName}">상품명</h2>
                            <div class="dis_price">
                                <ins th:text="${#numbers.formatInteger(bestProd.discountedPrice, 1, 'COMMA')}">27,000</ins>
                            </div>
                            <div th:if="${bestProd.discountRate ne 0}" class="org_price">
                                <del th:text="${#numbers.formatInteger(bestProd.price, 1, 'COMMA')}">30,000</del>
                                <span th:text="${bestProd.discountRate + '%'}">10%</span>
                            </div>
                        </a>
                    </li>
                </ol>
            </article>
        </aside>
        <section>
            <!-- 슬라이더 영역 -->
            <ul class="slider">
                <li>
                    <img th:src="@{/img/slider_item1.jpg}">
                </li>
                <li>
                    <img th:src="@{/img/slider_item2.jpg}">
                </li>
                <li>
                    <img th:src="@{/img/slider_item3.jpg}">
                </li>
                <li>
                    <img th:src="@{/img/slider_item4.jpg}">
                </li>
                <li>
                    <img th:src="@{/img/slider_item5.jpg}">
                </li>
        </ul>
            <!-- 히트상품 영역 -->
            <section class="hit">
                <h3>
                    <span id="hit-span">히트상품</span>
                </h3>
                <article th:each="hitProd : ${hitProds}">
                    <a th:href="@{/product/view(id=${hitProd.id})}">
                        <div class="thumb">
                            <img th:src="@{/product/images/{filename}/{cate1}/{cate2}(filename=${hitProd.thumbnailList}, cate1=${hitProd.category1Code}, cate2=${hitProd.category2Code})}" alt="t1">
                        </div>
                        <h2 th:text="${hitProd.productName}">상품명</h2>
                        <p th:text="${hitProd.description}">간단한 상품 설명</p>
                        <div class="dis_price">
                            <ins th:text="${#numbers.formatInteger(hitProd.discountedPrice, 1, 'COMMA')}">할인된 가격</ins>
                            <span th:if="${hitProd.deliveryCost ne 0}" th:text="${'배송비 ' + #numbers.formatInteger(hitProd.deliveryCost, 1, 'COMMA')}" class="deliveryCost">유료 배송</span>
                            <span th:if="${hitProd.deliveryCost eq 0}" class="free">무료배송</span>
                        </div>
                        <div class="org_price" th:if="${hitProd.discountRate ne 0}">
                            <del th:text="${#numbers.formatInteger(hitProd.price, 1, 'COMMA')}">상품 가격</del>
                            <span th:text="${hitProd.discountRate + '%'}">할인</span>
                        </div>
                    </a>
                </article>
            </section>
            <!-- 추천상품 영역 -->
            <section class="recommend">
                <h3>
                    <span id="recommend-span">추천상품</span>
                </h3>
                <article th:each="recommendProd : ${recommendProds}">
                    <a th:href="@{/product/view(id=${recommendProd.id})}">
                        <div class="thumb">
                            <img th:src="@{/product/images/{filename}/{cate1}/{cate2}(filename=${recommendProd.thumbnailList}, cate1=${recommendProd.category1Code}, cate2=${recommendProd.category2Code})}" alt="t1">
                        </div>
                        <h2 th:text="${recommendProd.productName}">상품명</h2>
                        <p th:text="${recommendProd.description}">간단한 상품 설명</p>
                        <div class="dis_price">
                            <ins th:text="${#numbers.formatInteger(recommendProd.discountedPrice, 1, 'COMMA')}">할인된 가격</ins>
                            <span th:if="${recommendProd.deliveryCost ne 0}" th:text="${'배송비 ' + #numbers.formatInteger(recommendProd.deliveryCost, 1, 'COMMA')}" class="deliveryCost">유료 배송</span>
                            <span th:if="${recommendProd.deliveryCost eq 0}" class="free">무료배송</span>
                        </div>
                        <div class="org_price" th:if="${recommendProd.discountRate ne 0}">
                            <del th:text="${#numbers.formatInteger(recommendProd.price, 1, 'COMMA')}">상품 가격</del>
                            <span th:text="${recommendProd.discountRate + '%'}">할인</span>
                        </div>
                    </a>
                </article>
            </section>
            <!-- 최신상품 영역 -->
            <section class="new">
                <h3>
                    <span id="recent-span">최신상품</span>
                </h3>
                <article th:each="recentProd : ${recentProds}">
                    <a th:href="@{/product/view(id=${recentProd.id})}">
                        <div class="thumb">
                            <img th:src="@{/product/images/{filename}/{cate1}/{cate2}(filename=${recentProd.thumbnailList}, cate1=${recentProd.category1Code}, cate2=${recentProd.category2Code})}" alt="t1">
                        </div>
                        <h2 th:text="${recentProd.productName}">상품명</h2>
                        <p th:text="${recentProd.description}">간단한 상품 설명</p>
                        <div class="dis_price">
                            <ins th:text="${#numbers.formatInteger(recentProd.discountedPrice, 1, 'COMMA')}">할인된 가격</ins>
                            <span th:if="${recentProd.deliveryCost ne 0}" th:text="${'배송비 ' + #numbers.formatInteger(recentProd.deliveryCost, 1, 'COMMA')}" class="deliveryCost">유료 배송</span>
                            <span th:if="${recentProd.deliveryCost eq 0}" class="free">무료배송</span>
                        </div>
                        <div class="org_price" th:if="${recentProd.discountRate ne 0}">
                            <del th:text="${#numbers.formatInteger(recentProd.price, 1, 'COMMA')}">상품 가격</del>
                            <span th:text="${recentProd.discountRate + '%'}">할인</span>
                        </div>
                    </a>
                </article>
            </section>
            <!-- 할인상품 영역 -->
            <section class="discount">
                <h3>
                    <span id="discount-span">할인상품</span>
                </h3>
                <article th:each="discountProd : ${discountProds}">
                    <a th:href="@{/product/view(id=${discountProd.id})}">
                        <div class="thumb">
                            <img th:src="@{/product/images/{filename}/{cate1}/{cate2}(filename=${discountProd.thumbnailList}, cate1=${discountProd.category1Code}, cate2=${discountProd.category2Code})}" alt="t1">
                        </div>
                        <h2 th:text="${discountProd.productName}">상품명</h2>
                        <p th:text="${discountProd.description}">간단한 상품 설명</p>
                        <div class="dis_price">
                            <ins th:text="${#numbers.formatInteger(discountProd.discountedPrice, 1, 'COMMA')}">할인된 가격</ins>
                            <span th:if="${discountProd.deliveryCost ne 0}" th:text="${'배송비 ' + #numbers.formatInteger(discountProd.deliveryCost, 1, 'COMMA')}" class="deliveryCost">유료 배송</span>
                            <span th:if="${discountProd.deliveryCost eq 0}" class="free">무료배송</span>
                        </div>
                        <div class="org_price" th:if="${discountProd.discountRate ne 0}">
                            <del th:text="${#numbers.formatInteger(discountProd.price, 1, 'COMMA')}">상품 가격</del>
                            <span th:text="${discountProd.discountRate + '%'}">할인</span>
                        </div>
                    </a>
                </article>
            </section>
        </section>
    </main>
    <button type="button" id="top">상단이동</button>
</th:block>
</html>