<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<!-- main header -->
<header th:fragment="main_header">
    <div class="top">
        <div>
            <th:block sec:authorize="isAnonymous()">
                <a th:href="@{/member/login}">로그인</a>
                <a th:href="@{/member/join}">회원가입</a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <a th:href="@{/my/home}">[[${#authentication.principal.members.name}]]님</a>
                <a sec:authorize="hasAnyRole('ROLE_SELLER','ROLE_ADMIN')" th:href="@{/admin/}">관리자</a>
                <a th:href="@{/logout}">로그아웃</a>
                <a th:href="@{/product/cart}">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    장바구니
                </a>
            </th:block>
        </div>
    </div>
    <div class="logo">
        <div>
            <a th:href="@{/}">
                <img th:src="@{/img/header_logo.png}" alt="로고">
            </a>
            <form action="#">
                <input type="text" name="search">
                <button>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="menu">
        <div>
            <ul>
                <li><a href="#">히트상품</a></li>
                <li><a href="#">추천상품</a></li>
                <li><a href="#">최신상품</a></li>
                <li><a href="#">인기상품</a></li>
                <li><a href="#">할인상품</a></li>
            </ul>
            <ul>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">자주묻는질문</a></li>
                <li><a href="#">문의하기</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
        </div>
    </div>
</header>

<!-- member header -->
<header th:fragment="member_header">
      <div class="top">
        <div>
          <nav>
              <th:block sec:authorize="isAnonymous()">
                  <a th:href="@{/member/login}">로그인</a>
                  <a th:href="@{/member/join}">회원가입</a>
              </th:block>
              <th:block sec:authorize="isAuthenticated()">
                  <a sec:authorize="hasAnyRole('ROLE_SELLER','ROLE_ADMIN')" th:href="@{/admin/}">관리자</a>
                  <a th:href="@{/my/home}">마이페이지</a>
                  <a th:href="@{/logout}">로그아웃</a>
                  <a th:href="@{/product/cart}">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      장바구니
                  </a>
              </th:block>
          </nav>
        </div>
      </div>
      <div class="logo">
        <div>
          <a th:href="@{/}">
            <img th:src="@{/img/header_logo.png}" alt="Kmarket 대한민국 1등 온라인 쇼핑">
          </a>
        </div>
      </div>
  </header>

<!-- admin header -->
<header th:fragment="admin_header">
    <div>
        <a th:href="@{/admin/}">
            <img th:src="@{/img/admin_logo.png}" alt="ADMINSTRATOR">
        </a>
        <nav>
            <span><span th:text="${#authentication.principal.members.name}">홍길동</span> 님 반갑습니다.</span>
            <a th:href="@{/}">HOME</a>
            <a th:href="@{/logout}">로그아웃</a>
            <a href="#">고객센터</a>
        </nav>
    </div>
</header>
</html>